* {
    border: 0;
    margin: 0;
  }
  
  main {
    overflow: hidden;
  }
  
  body {
    font-family: "Lato", sans-serif;
  }
  
  header {
    top: 40px;
    width: 100%;
    position: relative;
    background-attachment: scroll;
  }
  
  h1 {
    color: white;
    padding: 30px 0 30px 30px;
    width: 95%;
    font-size: 50px;
    position: absolute;
    background-color: hsl(213, 31%, 11%);
    z-index: 5;
  }
  
  h1, h2, h3 {
    font-family: "Roboto", sans-serif;
  }
  
  #logoso {
    display: inline;
    height: 119px;
    width: 119px;
    right: 0;
    position: absolute;
    z-index: 8;
  }
  
  nav {
    background-color: hsl(213, 40%, 18%);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    font-size: 20;
    z-index: 10;
  }
  
  nav table {
    width: 100%;
  }
  
  nav th, td {
    text-align: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .lang {
    float: right;
    padding-right: 30px;
  }
  
  main {
    background-color: hsl(222, 62%, 8%);
    color: hsl(208, 14%, 75%);
    padding-top: 230px;
    z-index: 1;
    width: 100%;
    position: relative;
  }
  
  main section {
    width: 90%;
    margin: 0 auto;
  }
  
  p {
    line-height: 1.7;
  }
  
  .desc, .catalog {
    margin: 0 auto 350px auto
  }
   h2 {
     text-transform: uppercase;
   }
  
  h2, h3, h4 {
    color: white;
  }
  
  h3 {
    display: inline;
  }
  
  #introduction {
    width: 50%;
    height: 380px;
    float: left;
    margin-right: 30px;
  }
  
  #cacho {
    width: 50%;
    height: 380px;
    object-fit: cover;
    float: right;
    margin-left: 30px;
  }
  
  .desc {
    background-color: hsl(213, 40%, 18%);
    height: 380px;
  }
  
  .desc h2, p {
    padding: 30px;
  }
  
  .serv {
    width: 100%;
  }
  
  .catalog table {
    border-collapse: collapse;
  }
  
  .catalog tr, td {
    text-align: left;
    padding-left: 30px;
  }
  
  .t0 {
    background-color: hsl(214, 18%, 46%);
    height: 80px;
  }
  
  .t1 {
    background-color: hsl(216, 26%, 30%);
    height: 100px;
  }
  
  .t2 {
    background-color: hsl(208, 36%, 21%);
    height: 100px;
  }
  
  .t3 {
    background-color: hsl(213, 40%, 18%);
    height: 100px;
  }
  
  .t4 {
    background-color: hsl(213, 31%, 11%);
    height: 100px;
  }
  
  .cont {
    background-color: hsl(213, 40%, 18%);
    margin-bottom: 40px;
  }
  
  .cont h2 {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    background-color: hsl(213, 31%, 11%);
  }
  
  .message {
    width: 80%;
    margin: auto;
    padding-bottom: 60px;
  }

  .message .nombre {
    width: 30%;
    color: hsl(208, 14%, 75%);
    height: 40px;
    float: left;
    margin-top: 20px;
    margin-right: 5%;
    background-color: hsl(216, 26%, 30%);
    font-family: "Lato", sans-serif;
    font-size: 16px;
  }
  
  .message .mail {
    width: 42%;
    color: hsl(208, 14%, 75%);
    height: 40px;
    margin-top: 20px;
    background-color: hsl(216, 26%, 30%);
    font-family: "Lato", sans-serif;
    font-size: 16px;
  }
  
  .message .send {
    width: 18%;
    height: 40px;
    margin-top: 20px;
    float: right;
    color: white;
    background-color: hsl(216, 26%, 30%);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  textarea {
    width: 100%;
    height: 220px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: hsl(208, 14%, 75%);
    background-color: hsl(216, 26%, 30%);
  }
  
  .cont table {
    margin-top: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    background-color: hsl(213, 31%, 11%);
  }
  
  .icon {
    height: 16px;
    width: 16px;
    padding-right: 10px;
  }